.custom-chips md-chip {
	position: relative;
	float: right;
}

.custom-chips md-chip .md-chip-remove-container {
	position: absolute;
	right: 4px;
	top: 4px;
	margin-right: 0;
	height: 24px;
}

.custom-chips md-chip .md-chip-remove-container button.chipaction
	{
	position: relative;
	height: 24px;
	width: 24px;
	line-height: 30px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	border: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	transition: background 0.15s linear;
	display: block;
}

.custom-chips md-chip .md-chip-remove-container button.chipaction md-icon
	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0) scale(0.7);
	color: white;
	fill: white;
}

.custom-chips md-chip .md-chip-remove-container button.chipaction:hover,
	.custom-chips md-chip .md-chip-remove-container button.chipaction:focus
	{
	background: rgba(255, 0, 0, 0.8);
}

.custom-chips md-chips-wrap.md-removable md-chip md-chip-template
	{
	padding-right: 5px;
}

.event-thumbnail {
	height: auto;
	width: 175px;
	border: 1px solid #e8e5e5;
	padding: 2px;
}