body {
  height: 100vh;
  width: 100%;
}

table.default {
  width: 100%
}
table.default tr:nth-child(even) {
    background-color: #eee;
}
table.default tr:nth-child(odd) {
    background-color: #fff;
}
table.default th {
    color: white;
    background-color: black;
}


table.default {
  width: 100%;
}
table.default tr:nth-child(even) {
    background-color: #eee;
}
table.default tr:nth-child(odd) {
    background-color: #fff;
}
table.default th {
    color: white;
    background-color: black;
}
#fontcorrentnumber{
	font-size:11px;
}
.hei{
	height:50px;

}

#search{
	border: 1px solid #E5E5E5;
	border-radius: 2px;
}
#fontsizedot{
	font-size:20px;
}
