<!-- تگ‌هایی که در سیستم تعریف شده -->
<!-- TODO: maso, 1395: در حالت خطا یک صفحه با امکان reload اضافه بشه. -->
<md-content
	mb-infinate-scroll="nextPage()"
	layout="column"
	flex>
	<!-- Action bar -->
	<mb-pagination-bar
		mb-model="paginatorParameter"
		mb-reload="reload()"
		mb-sort-keys="sortKeys"
		mb-more-actions="moreActions">
	</mb-pagination-bar>
	
	<!-- Tag list -->
	<md-list flex>
		<md-list-item 
			ng-repeat="pobject in ctrl.items track by pobject.id"
			class="md-3-line" 
			ng-href="{{'sdp/tag/'+pobject.id}}">
			<wb-icon>label</wb-icon>
			<div 
				class="md-list-item-text" 
				layout="column">
				<h3>{{pobject.id}}</h3>
				<h4>{{pobject.name}}</h4>
				<p>{{pobject.description}}</p>
			</div>
			<md-divider md-inset></md-divider>
		</md-list-item>
		<!-- Preloading. -->
		<div layout="column" layout-align="center center">
			<md-progress-circular 
				ng-show="ctrl.loadingItems" 
				md-diameter="96"> Loading ...
			</md-progress-circular>
		</div>
	</md-list>
</md-content>
