<md-content 
	class="md-padding"
	layout-padding
	flex>
	<mb-titled-block 
		mb-progress="ctrl.saving"
		mb-title="{{'New category'| translate}}"
		layout="column">
		<form
			name="categoryForm"
			ng-action="add(config)"
			layout="column" 
			flex>
			<md-input-container>
				<label>Name</label>
				<input ng-model="config.model.name" required></input>
			</md-input-container>
			<md-input-container>
				<label>Description</label>
				<input ng-model="config.model.description"></input>
			</md-input-container>
			<div layout="row" layout-align="start center">
				<md-input-container flex>
					<label>Parent</label>
					<input ng-model="ctrl.parent_id"></input>
				</md-input-container>
				<md-button class="md-icon-button md-raised"
					ng-click="selectParent()">
					<wb-icon>touch_app</wb-icon>
				</md-button>
			</div>
			
			<div layout="row">
				<span flex></span>
				<md-button 
					class="md-raised" 
					ng-click="cancel()">
	<!-- 				<wb-icon aria-label="close">close</wb-icon> -->
					<span translate="">Cancel</span>
				</md-button>
				<md-button
					class="md-raised md-primary" 
					ng-click="add(config)">
	<!-- 				<wb-icon aria-label="close">done</wb-icon> -->
					<span translate="">Add</span>
				</md-button>
			</div>
			
	    </form>
	</mb-titled-block>
</md-content>

