<md-content
	mb-preloading="ctrl.loadingItems" 
	mb-infinate-scroll="nextPage()"
	layout="column"
	flex>
	
	<!-- Action bar -->
	<mb-pagination-bar
		mb-model="paginatorParameter"
		mb-reload="reload()"
		mb-sort-keys="sortKeys"
		mb-sort-keys-titles="sortKeysTitles"
		mb-more-actions="moreActions">
	</mb-pagination-bar>
	
	<!-- Tags list -->
	<div layout="column"
		ng-if="ctrl.items.length == 0 && !ctrl.loadingItems">
		<p style="text-align: center" translate>List is empty.</p>
	</div>
	<md-list flex>
		<md-radio-group ng-model="ctrl.selectedId">
			<md-list-item 
				ng-repeat="pobject in ctrl.items track by pobject.id"
				class="md-3-line" 
				ng-click="selectItem(pobject)">
				<wb-icon>label</wb-icon>
				<div class="md-list-item-text" 
					layout="column">
					<h3>{{pobject.id}}</h3>
					<h4>{{pobject.name}}</h4>
					<p>{{pobject.description}}</p>
				</div>
				<md-radio-button 
					ng-value="pobject.id" 
					class="md-secondary md-primary">
				</md-radio-button>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-radio-group>
	</md-list>
</md-content>

