<div flex layout="column">
	<!-- Action bar -->
	<mb-pagination-bar
		mb-model="paginatorParameter"
		mb-reload="reload()"
		mb-sort-keys="sortKeys"
		mb-sort-keys-titles="sortKeysTitles"
		mb-more-actions="moreActions">
	</mb-pagination-bar>
	<md-content
		mb-preloading="ctrl.loadingItems" 
		mb-infinate-scroll="nextPage()"
		layout="column"
		layout-padding
		flex>
		<md-list>
			<md-list-item ng-repeat="object in ctrl.items track by object.id"
				ng-click="toggleSelect(object)"
				class="md-3-line">
				<wb-icon>folder_special</wb-icon>
				<div class="md-list-item-text" 
					layout="column">
					<h3>{{object.id}}</h3>
					<h4>{{object.name}}</h4>
					<p>{{object.description}}</p>
				</div>
				<md-checkbox class="md-secondary"
					ng-init="object.selected = isSelected(object)" 
					ng-model="object.selected"
					ng-click="toggleSelect(object)">
				</md-checkbox>
				<md-divider md-inset></md-divider> 
			</md-list-item>
		</md-list>
		<div layout="column"
			layout-align="center center"
			ng-show="!ctrl.loadingItems && !(ctrl.items && ctrl.items.length)">
			<h2 translate>Empty list</h2>
		</div>
	</md-content>
</div>


